<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265202258661-6i4no6gpres9am32ehuvil73rdoclknk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265202258661-6i4no6gpres9am32ehuvil73rdoclknk</string>
	<key>API_KEY</key>
	<string>AIzaSyBujWEoOHu9Nqia1O1Kzs8nApUT0TgWqVY</string>
	<key>GCM_SENDER_ID</key>
	<string>265202258661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krishna.Insta</string>
	<key>PROJECT_ID</key>
	<string>insta-30e01</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-30e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265202258661:ios:91d404db8f62f48dbe7a0c</string>
</dict>
</plist>